FILES
.vim/bundle
.vim/.netrwhist
.config/configstore
.config/htop
.config/git
.config/asciinema
.config/wireshark
.docsets
.tmux/plugins
.tmux/resurrect
.config/neofetch
.config/pusher.json
.config/karabiner/automatic_backups
